/*====================================
=            Top Scroller            =
====================================*/

#ScrollUp {
border: solid black;
border-width: 0 15px 15px 0;
display: inline-block;
padding: 1em;
/*display: none;*/
position: fixed;
bottom: 10px; /* Place the button at the bottom of the page */
right: 15px; /* Place the button 30px from the right */
z-index: 99;
outline: none; /* Remove outline */
color: white; /* Text color */
cursor: pointer; /* Add a mouse pointer on hover */
padding: .8em; /* Some padding */
border-radius: 7px;
}

#ScrollUp {
transform: rotate(-135deg);
-webkit-transform: rotate(-135deg);
}